.con-bar{
 margin: 50px;
 padding: 50px;   
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
}

.con-title{
    font-weight: 600;
}

.con-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
}

.con-details input{
    margin: 10px 0px;
    padding: 10px 20px;
}

.submit-btn{
    padding: 10px 30px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.submit-btn:active{
    color: #fff;
    background-color: #000;
}